@{
    ViewBag.Title = "Home Page";
}
@Scripts.Render("~/bundles/home")
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">


        <div class="portlet box">
            <div class="portlet-title nmn-bg-color-blue">

            </div>
            <div id="books_grid_body" class="portlet-body">
                <div class="table-container">
                    <table id="books_data_table" class="table">
                        <thead>
                            <tr role="row" class="heading">
                                <th>Id</th>
                                <th>Title</th>
                                <th>Publication Date</th>
                                <th>Rating</th>
                                <th>Pages Count</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody id="books_tbody"></tbody>
                    </table>
                </div>
            </div>
        </div>

        <div id="am_grid_row_template" hidden="hidden">

        </div>


    </div>
</div>


<div id="books-grid-row-template" class="bc-hidden">
    <table>
        <tbody>
            <tr>
                <td class="text-center">
                    <span data-bind="text: Books()[{0}].BookId"></span>
                </td>
                <td>
                    <span data-bind="text: Books()[{0}].Title"></span>
                </td>
                <td class="text-center">
                    <span data-bind="text: Books()[{0}].PublicationDate"></span>
                </td>
                <td class="text-center">
                    <span data-bind="text: Books()[{0}].Rating"></span>
                </td>
                <td class="text-center">
                    <span data-bind="text: Books()[{0}].PagesCount"></span>
                </td>
                <td>
                    <button class="btn btn-default" data-bind="click: Books()[{0}].EditClick">Edit</button>
                    <button class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<script>
    $(function () {
         var urls = {
            GetBooksUrl: '@Url.Action("GetBooks", "Book")',
            CreateBookUrl: '@Url.Action("CreateBook", "Book")',
            UpdateBookUrl: '@Url.Action("UpdateBook", "Book")',
            DeleteBookUrl: '@Url.Action("DeleteBook", "Book")'
        };

        var homeBusiness = new HomeBusiness(new HomeService(urls));
        var homeGridController = new HomeGridController(homeBusiness);
        var homeController = new HomeController(homeBusiness, homeGridController);

        homeGridController.Initialize();
    })
</script>